body {
	padding-right: 0px !important;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

a:visited, a:link {
	outline: none !important;
	box-shadow: none !important;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

/*#intercom-container .intercom-launcher {
	visibility: visible !important;
}*/

.form_error {
	display: none;
	color: #a94442;
}
.form-control.error {
	border-color: #a94442 !important;
}

.boldy {
	font-weight: bold;
}

.alert_custom_def {
	margin-bottom: 0px !important;
	margin-top: 15px !important;
}

.rubix-panel-body {
	padding-top: 25px !important; 
}
.rubix-panel-body .hl {
	font-size: 24px;
	text-align: center;
}
.rubix-panel-footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

.dashboard_navi_holder {
	margin-top: 35px;
}

.tl_header > * {
    float: left;
}
.tl_header > *:first-child {
    margin-right: 25px;
}
.tl_header img {
	margin-top: 7px;
}
.rubix-panel-body.padd_15 > div {
	padding: 15px;
}
#auth-cell > div {
	width: 600px;
}
.bg-darkgrey {
	background-color: #555;
}

.mt_15 {
	margin-top: 15px;
}

.zero_padds {
	padding: 0;
}

.promotions_section .promo_acc_wrap {
	position: relative;
	margin-bottom: 30px;
	/*margin-top: 45px;*/
}
.promotions_section .promo_acc_wrap .promo_navi, .promotions_section .promo_acc_wrap .promo_content {
	float: left;
}
.promotions_section .promo_acc_wrap .promo_navi {
	width: 25%;
	list-style: none;
	padding: 0;
	margin-right: 5%;
	margin-bottom: 0px;
}
.promotions_section .promo_acc_wrap .promo_navi li {
	margin-bottom: 10px;
}
.promotions_section .promo_acc_wrap .promo_navi li:last-child {
	margin-bottom: 0px;
}
.promotions_section .promo_acc_wrap .promo_navi li a {
	display: block;
	color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 600;
  /*background-color: #d75a1e;
  border: solid 1px #e5956f;
  border-radius: 6px;
  padding: 6px 13px;*/
  outline: none;
  height: 48px;
  padding: 10px 25px !important;
  background-color: #EA7882;
  border-color: #EA7882;
  letter-spacing: 1px;
  border-radius: 20px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  text-transform: uppercase;
  line-height: 1.78571;
  text-align: center;
}
.promotions_section .promo_acc_wrap .promo_navi li a:hover, .promotions_section .promo_acc_wrap .promo_navi li a.active {
	background-color: #EA7882;
  border-color: #EA7882;
  opacity: .5;
}
.promotions_section .promo_acc_wrap .promo_content {
	width: 70%;
	min-height: 242px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean {
	display: none;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean.active {
	display: block;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .general_row .lside {
	float: left;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .general_row .rside {
	float: right;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .general_row .lside .broker_name {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 600;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .general_row .lside .ginfo {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .general_row .rside .logo_holder {
	width: 200px;
	height: 60px;
	background-color: #929292;
	border-radius: 4px;
	width: 150px;
	height: 60px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .adv_row_wrap {
	text-align: center;
	margin-top: 30px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .adv_row_wrap .adv_holder {
	display: inline-block;
	width: 300px;
	height: 70px;
	background-color: #929292;
	border-radius: 4px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap {
	text-align: center;
	margin-top: 30px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap .cnt_navi {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap .cnt_navi li {
	float: left;
	margin-right: 15px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap .cnt_navi li:last-child {
	margin-right: 0px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap .cnt_navi li a {
	display: block;
	color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #d75a1e;
  border: solid 1px #e5956f;
  border-radius: 6px;
  padding: 6px 13px;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap .cnt_navi li:nth-child(1) a {
	background-color: #EA7882;
	border-color: #EA7882;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap .cnt_navi li:nth-child(2) a {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.promotions_section .promo_acc_wrap .promo_content .promo_bean .controls_wrap .cnt_navi li a:hover {
	opacity: .5;
}

.btn.btn-lg, .btn-group-lg > .btn {
	height: 45px;
}

.trade_charts_section .chart_side {
	float: left;
	width: 70%;
	min-height: 400px;
}
.trade_charts_section .config_rside {
	float: left;
	width: 30%;
}
.trade_charts_section.curr_mode .chart_side {
	width: 65%;
}
.trade_charts_section.curr_mode .config_rside {
	width: 35%;
}

.trade_charts_section .config_rside .hl {
	margin-bottom: 40px;
}
.w_150 {
	width: 150px;
}
.w_200 {
	width: 200px;
}
.inline_block {
	display: inline-block;
}
.mb_20 {
	margin-bottom: 20px;
}

.trade_charts_section.curr_mode .config_rside {
	padding-left: 15px;
}
.trade_charts_section.curr_mode .config_rside .hl {
	margin-bottom: 10px;
	text-align: left;
}

.trade_charts_section.curr_mode .config_rside .calc_opts_form .calc_opt_line {
	margin-bottom: 15px;
}
.trade_charts_section.curr_mode .config_rside .calc_opts_form .calc_opt_line label {
	float: left;
}
.trade_charts_section.curr_mode .config_rside .calc_opts_form .calc_opt_line select {
	float: right;
}

.calc_results_modal .modal-dialog {
	width: 900px;
}

.calc_progress_modal .modal-header {
	background-color: #555;
}
.calc_progress_modal .modal-content {
 border-radius: 0px;
 border: none;
}
.calc_progress_modal .logo_holder {
	width: 300px;
	border-radius: 4px;
	background-color: #333;
	margin: 0 auto 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.calc_progress_modal .logo_holder > img {
	display: block;
	margin: 0 auto;
}
.calc_progress_modal .segment_hl {
	color: #FA7252;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
.calc_progress_modal .black_hl {
	color: #333;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
}
.calc_progress_modal .brokers_segment {
	margin-bottom: 40px;
}
.calc_progress_modal .ch_status_hold {
	margin-bottom: 30px;
}
.calc_progress_modal .ch_status_hold .l {
	float: left;
	margin-bottom: 0px;
}
.calc_progress_modal .ch_status_hold .r {
	float: right;
	margin-bottom: 0px;
}
.calc_progress_modal .inside_c {
	position: relative;
}
.calc_progress_modal .inside_c .chart_holder {
	float: left;
	width: 55%;
	overflow: hidden;
	margin-right: 5%;
}
.calc_progress_modal .inside_c .status_info {
	float: left;
	width: 40%;
}
.calc_progress_modal .inside_c .status_info > p {
	font-size: 18px;
}

.calc_progress_modal .inside_c .status_inidicator_holder .status_inidicator {
	/*position: absolute;
	z-index: 100;
	top: 0px;
	right: 10px;*/
	float: left;
	background-color: #333;
	border-radius: 4px;
	width: 48%;
	height: 200px;
}
.calc_progress_modal .inside_c .status_inidicator_holder .status_inidicator_txt {
	float: left;
	background-color: #333;
	border-radius: 4px;
	/*line-height: 50px;*/
	line-height: 200px;
	padding-left: 15px;
	padding-right: 15px;
	width: 48%;
	margin-left: 4%;
}
.calc_progress_modal .inside_c .status_inidicator_holder .status_inidicator_txt p {
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}
.calc_progress_modal .inside_c .status_inidicator_holder .status_inidicator_txt .shapes_bean_txt.neutral {
	color: #d7d7d7;
}
.calc_progress_modal .inside_c .status_inidicator_holder .status_inidicator_txt .shapes_bean_txt.up {
	color: #81c780;
}
.calc_progress_modal .inside_c .status_inidicator_holder .status_inidicator_txt .shapes_bean_txt.down {
	color: #EA7882;
}
.calc_progress_modal .inside_c .status_inidicator .shapes_bean {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 65px;
	/*margin-top: -webkit-calc(50% - 30px);
	margin-top: -moz-calc(50% - 30px);
	margin-top: calc(50% - 30px);*/
}
.calc_progress_modal .inside_c .status_inidicator .shapes_bean.neutral {
	background-color: #d7d7d7;
}
.calc_progress_modal .inside_c .status_inidicator .shapes_bean.up {
	background-color: #81c780;
}
.calc_progress_modal .inside_c .status_inidicator .shapes_bean.down {
	background-color: #EA7882;
}

/*.calc_progress_modal .inside_c .chart_holder .highcharts-container {
	width: 100% !important;
}*/

.calc_progress_modal .arrows_wr {
	text-align: center;
}
.calc_progress_modal .arrows_wr > ul {
	display: inline-block;
	padding-left: 0px;
	margin-bottom: 0px;
	list-style: none;
}
.calc_progress_modal .arrows_wr > ul > li {
	float: left;
	margin-right: 20px;
}
.calc_progress_modal .arrows_wr > ul > li:last-child {
	margin-right: 0px;
}
.calc_progress_modal .arrows_wr > ul > li > span {
	opacity: 0;
	font-size: 2em;
	/*-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;*/
}
.calc_progress_modal .logs {
	resize: none;
	height: 210px;
}

.promo_acc_wrap .promo_line_wr {
	margin-bottom: 15px;
}
.promo_acc_wrap .promo_line_wr:last-child {
	margin-bottom: 0px;
}
.promo_acc_wrap .promo_line_wr > * {
	float: left;
	margin-right: 25px;
}
.promo_acc_wrap .promo_line_wr > *:last-child {
	margin-right: 0px;
}
.promo_acc_wrap .promo_line_wr > p {
	margin-bottom: 0px;
	line-height: 70px;
}
.promo_acc_wrap .promo_line_wr .cnt {
	float: right;
}
.promo_acc_wrap .promo_line_wr .cnt a {
	float: left;
	display: block;
  	color: #fff;
  	font-family: Arial,Helvetica,sans-serif;
  	font-size: 16px;
  	font-weight: 600;
  	background-color: #d75a1e;
  	border: solid 1px #e5956f;
  	border-radius: 6px;
  	padding: 6px 13px;
  	width: 160px;
  	max-width: 160px;
}
.promo_acc_wrap .promo_line_wr .cnt a.active, .promo_acc_wrap .promo_line_wr .cnt a:hover {
	opacity: .5;
}
.promo_acc_wrap .promo_line_wr .cnt a p {
	margin-bottom: 0px;
	text-align: center;
}
.promo_acc_wrap .promo_line_wr .cnt a.step1 {
	background-color: #EA7882;
  	border-color: #EA7882;
  	margin-right: 15px;
}
.promo_acc_wrap .promo_line_wr .cnt a.step2 {
	background-color: #5cb85c;
  	border-color: #5cb85c;	
}
.promo_acc_wrap .promo_line_wr .logo_wr {

}
.promo_acc_wrap .promo_line_wr .logo_wr .logo_placeholder {
	/*background-color: #273135;*/
  	border-radius: 4px;
  	width: 150px;
  	height: 60px;
}
.promo_acc_wrap .promo_line_wr .logo_wr .logo_placeholder img {
	max-width: 100%;
	border-radius: 4px;
}
.promo_acc_wrap .promo_line_wr .title {
	min-width: 110px;
	line-height: 2em;
}

.broker_api_call_modal .modal-dialog {
    width: 400px;
}
.broker_api_call_modal form label {
    margin-bottom: 5px;
}
.broker_api_call_modal form .modal-body > div {
    margin-bottom: 15px;
}
.broker_api_call_modal form .modal-body > div:last-child {
    margin-bottom: 0px;
}
.broker_api_call_modal form .two_rows_wr input {
    float: left;
    width: 48%;
}
.broker_api_call_modal form .two_rows_wr input:first-child {
    margin-right: 4%;
}

.user_guide .content_area_segment {
	margin-bottom: 40px;
}

@media (max-width: 600px) {
	.promo_acc_wrap .promo_line_wr > * {
		float: none;
		margin-right: 0px;
		text-align: center;
		margin-bottom: 15px !important;
	}
	.promo_acc_wrap .promo_line_wr > .counter {
		display: none;
	}
	.promo_acc_wrap .promo_line_wr .cnt {
		float: none;
		text-align: center;
	}
	.promo_acc_wrap .promo_line_wr .cnt > div {
		display: inline-block;
	}
	.promo_acc_wrap .promo_line_wr .logo_wr .logo_placeholder {
		margin: 0 auto;
	}
	.promo_acc_wrap .promo_line_wr > p {
		line-height: normal;
	}
}

@media (max-width: 450px) {
	.promo_acc_wrap .promo_line_wr .cnt a {
		float: none;
	}
	.promo_acc_wrap .promo_line_wr .cnt a.step1 {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}


