.new_section_hiw {
	margin-top: 30px;
}

.new_section_hiw.rewards_sec {
	background-color: #222;
	padding-bottom: 30px;
}
.new_section_hiw.rewards_sec p, .new_section_hiw.rewards_sec h2 {
	color: #fff;
}

.section-heading.reset_after:after {
	background-color: transparent;
}

.mt_30 {
	margin-top: 30px;
}

.new_sec_txt_zone p {
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.bags_pic {
	max-width: 200px;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}