/* common styles */
@font-face {
    font-family: 'robotoregular';
    src: url('../../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Roboto-Regular.woff') format('woff'),
    url('../../assets/fonts/Roboto-Regular.ttf')  format('truetype'),
    url('../../assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotolight';
    src: url('../../assets/fonts/Roboto-Light-webfont.eot');
    src: url('../../assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Roboto-Light-webfont.woff') format('woff'),
    url('../../assets/fonts/Roboto-Light-webfont.ttf') format('truetype'),
    url('../../assets/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('../../assets/fonts/Roboto-Black-webfont.eot');
    src: url('../../assets/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Roboto-Black-webfont.woff') format('woff'),
    url('../../assets/fonts/Roboto-Black-webfont.ttf') format('truetype'),
    url('../../assets/fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    color: #666;
    background-color: #e2e2e2;
}

.wrapper {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.4);
}
.wrapper:before,
.wrapper:after {
    content:"";
    position:absolute;
    z-index: -2 !important;
    bottom:10px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    /*-webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);*/
}
.wrapper:after {
    right:10px;
    left:auto;
    /*-webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);*/
}


.font-rob-reg {
    font-family: robotoregular;
}
.font-rob-bold {
    font-family: robotoblack;
}
.fsize12 {
    font-size: 12px;
}
.fsize14 {
    font-size: 14px;
    line-height: 23px;
}
.fsize22 {
    font-size: 22px;
}
.fsize36 {
    font-size: 36px;
}
.fsize38 {
    font-size: 38px;
}
.h2block {
    font-family: robotoblack;
    font-size: 38px;
    line-height: 20px;
    color: #006191;
    text-align: center;
    margin-bottom: 25px;
}
.h3block {
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    color: #000;
}


.head-icon {
    height: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.head-icon .icon {
    width: 12%;
    height: 70px;
    margin-top: -10px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
}
.head-icon.user .icon {
    background-image: url('../../assets/design_img/user.png');
}
.head-icon.link .icon {
    background-image: url('../../assets/design_img/link.png');
}
.head-icon.mail .icon {
    background-image: url('../../assets/design_img/mail.png');
}
.head-icon .left-arrow, .head-icon .right-arrow {
    width: 44%;
    height: 50px;
    background-color: #c9d2d9;
    float: left;
}
.left-arrow .l-arrow, .right-arrow .r-arrow {
    position: absolute;
    height: 70px;
    width: 28px;
    background-image: url('../../assets/design_img/arrow_sprite.png');
    background-repeat: no-repeat;
}
.left-arrow .l-arrow {
    left:46%;
    margin-left:-28px;
    margin-top: -10px;
}
.right-arrow .r-arrow {
    right:46%;
    margin-right:-28px;
    margin-top: -10px;
    background-position: -28px 0px;
}


.affiliate-block p, .affiliatelinks-block p, .email-swipest-block p   {
    padding: 0px 45px;
    text-align: center;
}

.shadow-under-content {
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 10px;
    width: 522px;
    background-image: url('../../assets/design_img/shadow.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* END common styles */

/* header styles */
header {
    width: 100%;
    height: 50px;
    border-top: 5px solid #de611e;
    background-color: #111;
}

header .logo {
    position: relative;
    width: 226px;
    height: 29px;
    margin: 10px 0px 0px 20px;
    background-image: url('../../assets/design_img/logoimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

/* END header styles */

/* general-block styles */
.general-block {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.big-image {
    width: 100%;
    height: 325px;
    background-image: url('../../assets/design_img/bigimage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-kill {
    position: absolute;
    width: 490px;
    height: 115px;
    padding-top: 20px;
    left:50%;
    margin-left:-245px;
    margin-top: 220px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 22px;
    line-height: 46px;
    font-family: robotolight;
    color: #000;
}

.text-kill .colored {
    color: #db5c1e;
}

.text-kill .no-refunds .colored {
    color: #006191;
}

.no-refunds .underline {
    min-width: 40px;
    border-bottom: 1px solid #006191;
    text-decoration: underline;
    display: inline-block;
}

.subject-place {
    width: 960px;
    height: 125px;
    padding: 35px 0px 0px 0px;
    border-top: 1px solid #fff;
    background: #004b97;
    background: -moz-radial-gradient(center, ellipse cover,  #004b97 12%, #004b97 12%, #00327c 85%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%,#004b97), color-stop(12%,#004b97), color-stop(85%,#00327c)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #004b97 12%,#004b97 12%,#00327c 85%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #004b97 12%,#004b97 12%,#00327c 85%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #004b97 12%,#004b97 12%,#00327c 85%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #004b97 12%,#004b97 12%,#00327c 85%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b97', endColorstr='#00327c',GradientType=1 ); *//* IE6-9 fallback on horizontal gradient */
    text-align: center;
    color: #fff;
}

.subject-place:before,
.subject-place:after {
    content:"";
    position:absolute;
    z-index: -2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.subject-place:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}

.subject-place .colored {
    color: #f8931e;
}

.subject-place .fsize12, .subject-block .fsize38 {
    line-height: 40px;
}

.subject-place .fsize22 {
    line-height: 27px;
}

.subject-place .down-arrow {
    position: absolute;
    width: 37px;
    height: 18px;
    left:50%;
    margin-left:-19px;
    margin-top: 125px;
    background-image: url('../../assets/design_img/down_arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* END general-block styles */

/* affiliate-block styles */
.affiliate-block {
    width: 100%;
    height: 100%;
}


/* END affiliate-block styles */

/* affiliatelinks-block styles */
.affiliatelinks-block {
    height: 100%;
    width: 100%;
    text-align: center;
}

.affiliatelinks-block img {
    margin-top: 10px;
}
/* END affiliatelinks-block styles */

/* email-swipest-block styles */
.email-swipest-block {
    height: 100%;
    width: 100%;
    margin-bottom: 60px;
}

.email-swipest-block a {
    color: #209bc5;
    text-decoration: none;
}

.email-swipest-block a:hover {
    text-decoration: underline;
}

.mailbody {
    font-size: 16px;
    line-height: 23px;
    color: #000;
}

.mailbody p {
    text-align: left;
}

.support .h3block {
    padding: 0px 45px 25px 45px;
}

.support p {
    font-size: 15px;
    line-height: normal;
    text-align: left;
}
/* END email-swipest-block styles */


.email_frames_wrap {
    margin-top: 30px;
}
.emailbox {
    margin-bottom: 20px;
    text-align: center;
}
.emailbox p {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 18px;
}
.emailbox textarea {
    width: 500px;
    height: 150px;
}

.banners_promo_pics_wr {
    margin-top: 15px;
}
.banners_promo_pics_wr .hl {
    font-size: 18px;
    margin-bottom: 15px;
}
.banners_promo_pics_wr .banners_pics img {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.download_cnt {
    text-align: center;
    margin-bottom: 15px;
}
.download_cnt a {
    display: inline-block;
    background-color: #5b98cc;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
}
.download_cnt a:hover {
    text-decoration: none;
}
