html,
body {
  height: 100%;
  width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.roboto-h2 {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 37px;
  line-height: 46px;
  letter-spacing: -1px;
  text-align: center;
  padding: 65px 0px 25px 0px;
}

.inner-padding {
  line-height: 27px;
  padding: 0px 160px 0px 160px;
}

#toast-container {
  p {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.form-control {
  &.error {
    color: #f44343;
    border: 1px solid #f44343 !important;
  }
}
