@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Roboto-Regular.woff') format('woff'),
  url('../../fonts/Roboto-Regular.ttf')  format('truetype'),
  url('../../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../../fonts/Roboto-Light-webfont.eot');
  src: url('../../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Roboto-Light-webfont.woff') format('woff'),
  url('../../fonts/Roboto-Light-webfont.ttf') format('truetype'),
  url('../../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url('../../fonts/Roboto-Black-webfont.eot');
  src: url('../../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Roboto-Black-webfont.woff') format('woff'),
  url('../../fonts/Roboto-Black-webfont.ttf') format('truetype'),
  url('../../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  background-color: #f6f6f6;
  text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

  .tos {
    > .container {
      padding-bottom: 30px !important;
    }
    .tos_holder {
      > h2 {
        font-family: "robotolight", Arial, Helvetica, sans-serif;
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
  }

  .foot_navi {
    > .container {
      width: 960px;
      text-align: center;
    }
    ul {
      display: inline-block;
      padding-left: 0px;
      list-style: none;
      li {
        float: left;
        margin-right: 10px;
        a {
          font-size: 14px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .broker_api_call_modal {
    .modal-dialog {
      width: 400px;
    }
    form {
      label {
        margin-bottom: 5px;
      }
      .modal-body {
        > div {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      .two_rows_wr {
        input {
          float: left;
          width: 48%;
          &:first-child {
            margin-right: 4%;
          }
        }
      }
    }
  }

  .thankyou_page {
    width: 960px;
    margin: 0 auto;
    .container {
      width: 960px;
    }
    .header_section {
      margin-bottom: 9px;
      background-color: #ececec;
      border: 1px solid #e2e2e2;
      border-top-color: transparent;
      padding-bottom: 15px;
      .logo {
        margin: 30px 0;
        img {
          display: block;
          margin: 0 auto;
        }
      }
     .decs {
       font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
       margin: 0;
       text-align: center;
       font-size: 32px;
       font-weight: 300;
       line-height: 1.6em;
       .bold {
         font-weight: 600;
       }
       .bold_orange {
         font-weight: 600;
         color: #db5c1e;
       }
     }
    }
    .signin_section {
      .head {
        background-color: #111111;
        height: 64px;
        p {
          margin: 0;
          color: #fff;
          color: #ececec;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          padding-top: 20px;
          .orange {
            color: #db5c1e;
          }
        }
      }
      .content {
        background-color: #ececec;
        border: 1px solid #e2e2e2;
        border-top-color: transparent;
        margin-bottom: 16px;
        padding-top: 26px;
        .form_wr {
          width: 70%;
          margin: 0 auto;
          margin-bottom: 35px;
          border-bottom: 1px solid #929292;
          &.none_border {
            border-bottom: none;
          }
          p {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            &.h {
              font-size: 24px;
              font-weight: 600;
              text-align: center;
            }
            &.desc {
              margin-top: 16px;
              font-size: 12px;
            }
          }
          .calc_login_box {
            width: 60%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            .form-control {
              border: 1px solid #c7c7c7 !important;
              border-radius: 6px !important;
              color: #2e1600;
              font-family: Arial,Helvetica,sans-serif;
              font-size: 18px;
              font-weight: 800;
              height: 46px;
            }
            .cnt {
              text-align: right;
            }
            .register-btn {
              display: inline-block;
              color: #fff;
              font-family: Arial,Helvetica,sans-serif;
              font-size: 18px;
              background-color: #d75a1e;
              border: solid 1px #e5956f;
              border-radius: 6px;
              padding: 6px 12px;
            }
            .forgot-psw-btn {
              display: inline-block;
              color: #fff;
              font-family: Arial,Helvetica,sans-serif;
              font-size: 18px;
              background-color: #555;
              border: solid 1px #555;
              border-radius: 6px;
              padding: 6px 12px;
              margin-left: 15px;
            }
          }
        }
        .promotions_section {
          > p {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
          }
          .promo_acc_wrap {
            margin-top: 30px;
            margin-bottom: 30px;
            .promo_line_wr {
              margin-bottom: 15px;
              padding: 15px;
              &:nth-child(odd) {
                background-color: #fff;
              }
              &:last-child {
                margin-bottom: 0px;
              }
              > * {
                float: left;
                margin-right: 25px;
                &:last-child {
                  margin-right: 0px;
                }
              }
              .logo_wr {
                .logo_placeholder {
                  border-radius: 4px;
                  width: 150px;
                  height: 60px;
                  img {
                    max-width: 100%;
                    border-radius: 4px;
                  }
                }
              }
              > p {
                margin-bottom: 0px;
                line-height: 70px;
                margin-top: 0px;
                color: rgb(137, 148, 155);
                font-size: 14px;
              }
              .title {
                min-width: 110px;
                line-height: 28px;
              }
              .cnt {
                float: right;
                a {
                  float: left;
                  display: block;
                  color: #fff;
                  font-family: Arial,Helvetica,sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  background-color: #d75a1e;
                  border: solid 1px #e5956f;
                  border-radius: 6px;
                  padding: 6px 13px;
                  width: 160px;
                  max-width: 160px;
                  text-decoration: none !important;
                  p {
                    margin-bottom: 0px;
                    margin-top: 0px;
                    text-align: center;
                  }
                  &.step1 {
                    background-color: #EA7882;
                    border-color: #EA7882;
                    margin-right: 15px;
                  }
                  &.step2 {
                    background-color: #5cb85c;
                    border-color: #5cb85c;
                  }
                  &:hover {
                    opacity: .6;
                  }
                }
              }
            }
          }
        }
      }
    }
    .foot_section {
      margin-bottom: 30px;
      .container {
        padding: 0px;
      }
      p {
        color: #aeaeae;
        font-size: 10px;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  // ===== PAYMENT PAGE (START)
  .payment_root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .logout {
      position: absolute;
      color: #ffffff;
      background: #E76049;
      top: 0px;
      right: 0px;
      width: 80px;
      height: 67px;
      text-align: center;
      border: none;
      display: block;
      z-index: 10000;
      font-size: 3em;
    }
    > img {
      width: 100%;
    }
    > .shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .8);
    }
    .modal {
      &.creditcard_creation_modal {
        // position: absolute;
        position: static;
        display: block !important;
        .modal-dialog {
          transform: none !important;
          top: 0px;
        }
        .modal-body {
          background-color: #fff;
          -webkit-border-bottom-right-radius: 6px;
          -webkit-border-bottom-left-radius: 6px;
          -moz-border-radius-bottomright: 6px;
          -moz-border-radius-bottomleft: 6px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        .modal-header {
          background: none;
          background-color: #f5f5f5;
          border-bottom: none;
          -webkit-border-top-left-radius: 6px;
          -webkit-border-top-right-radius: 6px;
          -moz-border-radius-topleft: 6px;
          -moz-border-radius-topright: 6px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          .intro {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            .get_started_bage {
             img {
              width: 100%;
             }
            }
            .price {
              text-align: center;
              color: #08ac95;
              font-size: 28px;
              margin-bottom: 15px;
              margin-top: 5px;
              height: 38px;
            }
          }
        }

        .card_type_holder {
          position: absolute;
          right: 15px;
          color: #46b5e8;
          font-weight: 600;
        }
        .cc_form_segment {
          margin-bottom: 25px;
          &.tine {
            width: 75%;
          }
          .hl {
            font-size: 16px;
            font-weight: 600;
            color: #b7b7b7;
          }
          .cc_form_wrap {
            .cc_form_line {
              margin-bottom: 10px;
              .req {
                color: #f44343;
              }
              > * {
                float: left;
              }
              > label {
                font-size: 14px;
                margin-bottom: 0px;
                line-height: 34px;
                width: 35%;
                text-align: right;
                padding-right: 10px;
              }
              > div {
                width: 65%;
              }
              .two_rows_fields {
                input, select {
                  float: left;
                  width: 48%;
                  &:first-child {
                    margin-right: 4%;
                  }
                }
                &.c_card_line {
                  input, select {
                    float: left;
                    width: 26%;
                    &:first-child {
                      width: 70%;
                      margin-right: 4%;
                    }
                  }
                }
              }
              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
        .paypal_pay_box {
          > p {
            text-align: center;
            font-weight: 600;
          }
          > img {
            display: block;
            margin: 0 auto;
          }
        }
        .brain_signature {
          float: left;
          > * {
            float: left;
          }
          > p {
            display: block;
            line-height: 45px;
            font-size: 16px;
            margin-bottom: 0px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #fdfdfd;
            > span {
              color: #000;
            }
          }
        }
        .cc_cnt {
          line-height: 45px;
        }
        .pay_cards {
          margin-top: 35px;
          .card {
            float: left;
            margin-right: 3px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
        .tab-content {
          > .tab-pane {
            border: 1px solid #ddd;
            border-top-color: transparent;
            padding: 15px;
          }
        }
        .paypal_loader {
          display: none;
          margin-left: 10px;
          margin-bottom: 0px;
          line-height: 27px;
          &.active {
            display: block;
          }
        }
        .nav-tabs {
          > li {
            &.active {
              color: #555 !important;
              > a:focus {
                color: #555 !important;
              }
              > a:hover {
                color: #555 !important;
                border-bottom-color: #fff !important;
              }
            }
            > a {
              color: #555 !important;
              &:hover {
                background-color: #fff !important;
              }
            }
            &:not(.active) {
              > a {
                &:hover {
                  border-color: #fff !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &.common_login_layout {
    background: #43525A;
    .basic_wr {
      .form_holder {
        border: none;
        margin-top: 50px;
        .panel-heading {
          background-color: #555;
          padding: 10px 5px;
          .tl_header {
            img {
              float: left;
              margin-right: 25px;
              margin-top: 7px;
            }
            h4 {
              float: left;
              color: #fff;
              font-weight: 600;
              margin: 0;
              line-height: 48px;
            }
          }
        }
      }
    }
  }

  header {
    position: relative;
    height: 48px;
    width: 100%;
    background-color: #111;
    img {
      margin-top: 8px;
    }
  }

  .susbscribe_form_modal {
    .modal-header {
      background-color: #555;
    }
    .modal-dialog {
      .tl_header {
        > * {
          float: left;
          &:first-child {
            margin-right: 25px;
          }
        }
        h4 {
          line-height: 32px;
          color: #fff;
          font-weight: 600;
          margin: 0;
        }
      }
    }
    form {
      .modal-body {
        .info_block {
          > .hl {
            font-size: 16px;
            font-weight: 600;
            color: #b7b7b7;
            margin-bottom: 15px;
          }
          label {
            margin-bottom: 5px;
          }
          > div {
            margin-bottom: 15px;
            position: relative;
            &:last-child {
              margin-bottom: 0px;
            }
          }
          .two_rows_wr {
            .r {
              float: left;
              width: 48%;
              position: relative;
              &:first-child {
                margin-right: 4%;
              }
            }
          }
          .req {
            position: absolute;
            color: red;
            top: 5px;
            right: 10px;
            font-size: 1.6em;
          }
        }
      }
    }
  }

  .basic_section {
    > .container {
      width: 960px;
      padding-bottom: 65px;
      &.haveborder {
        border-right: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
      }
      &.dark_grey {
        background-color: #ececec;
      }
      &.blue {
        background-color: #00abe5;
        color: #fff;
      }
    }
    &.buy_now {
      .product_desc_wr {
        ul {
          padding-left: 0px;
          list-style-position: inside;
        }
      }
      .get_access {
        margin-top: 50px;
        .h {
          p {
            font-size: 36px;
            text-align: center;
            margin-bottom: 15px;
            &:nth-child(1) {
              font-family: "robotolight", Arial, Helvetica, sans-serif;
            }
            &:nth-child(2) {
              font-family: "robotoblack", Arial, Helvetica, sans-serif;
              color: #d75a1e;
              text-decoration: underline;
              margin-bottom: 0px;
            }
          }
        }
        .subscribe_pay_stack {
          margin-top: 48px;
          .subscribe_btn_wr {
            text-align: center;
            .subscribe_btn {
              font-family: "robotoblack", Arial, Helvetica, sans-serif;
              font-size: 18px;
              display: inline-block;
              width: 288px;
              height: 60px;
              line-height: 60px;
              text-transform: uppercase;
              color: #fff;
              background-color: #d75a1e;
              border: solid 1px #e5956f;
              border-radius: 6px;
              text-decoration: none;
            }
          }
          .pay_icons {
            text-align: center;
            margin-top: 20px;
            ul {
              display: inline-block;
              list-style: none;
              padding: 0px;
              li {
                float: left;
                margin-right: 10px;
                &:last-child {
                  margin-right: 0px;
                }
              }
            }
          }
        }
      }
    }
    &.really-simple {
      .chart {
        margin: 50px 0px;
        img {
          -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.15);
          -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.15);
          box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.15);
        }
      }
    }
    &.but-how {
      .inner-padding {
        padding: 0px 100px 0px 160px;
      }
      .procedure {
        width: 100%;
        height: 100%;
        margin-top: 60px;
        .pr-block {
          width: 195px;
          height: 100%;
          text-align: center;
          float: left;
          margin-right: 25px;
          > p {
            font-size: 13px;
            line-height: 18px;
          }
          .head {
            font-weight: 600;
            font-size: 18px;
            .number {
              font-size: 33px;
            }
          }
          .img-square {
            width: 195px;
            height: 110px;
            margin: 15px 0px 10px 0px;
            border: none;
            border-radius: 0px;
            box-shadow: 0;
            background-repeat: no-repeat;
            background-color: #00abe5;
            background-position: center;
            &.img-asset {
              background-image: url('../../images/asset-img.png');
            }
            &.img-timeframe {
              background-image: url('../../images/timeframe.png');
            }
            &.img-predi {
              background-image: url('../../images/prediction.png');
            }
          }
        }
      }
    }
    &.charts_tables {
      .ch_tbl_wr {
        width: 800px;
        height: 542px;
        margin: 0 auto;
        background-image: url('../../images/monitor.png');
        padding-top: 30px;
        .ch_tbl_wr_inside {
          width: 746px;
          height: 439px;
          margin: 0 auto;
          overflow: auto;
          background-color: #fff;
          h2 {
            color: #666;
            font-size: 13px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            text-shadow: 1px 1px 1px #d6d6d6;
            filter: dropshadow(color=#d6d6d6,offx=1,offy=1);
          }
          .fancyTable {
            border-collapse: collapse;
            border-spacing: 0px;
            font-size: 11px;
            width: 100%;
            margin-bottom: 25px;
            td.investment, td.payout, th.investment, th.payout {
              text-align: right;
            }
            td.balance {
              font-weight: 600;
            }
            td.first {
              font-size: 13px;
              font-weight: 600;
              padding: 4px 6px 5px 6px;
            }
            td.status-1, td.status-0 {
              padding-left: 25px;
            }
            td.status-1 {
              color: #458b13;
            }
            th {
              background: #e0e0e0;
              border-bottom: solid 1px #666;
              color: #444;
              padding: 15px 6px;
              text-align: left;
            }
            tr:hover td {
              background-color: #f3f3f3;
              cursor: pointer;
            }
            td {
              border-bottom: solid 1px #666;
              padding: 6px;
            }
          }
          .type, .fancyTable th.type {
            text-align: center;
          }
          .type-call, .type-put {
            font-size: 16px;
            padding: 0px !important;
          }
          .type-call {
            color:#458b13;
          }
          .type-put {
            color:#fa8e23;
          }
        }
      }
    }
    &.how-did-you {
      .opportunities {
        .opportunities-block {
          padding-right: 5px;
          margin-left: 25px;
          margin-bottom: 20px;
          .opportunities-block-img {
            margin-right: 25px;
            float: left;
            .special-block {
              font-family: "robotoblack", Arial, Helvetica, sans-serif;
              height: 110px;
              width: 110px;
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              font-size: 15px;
              line-height: 100%;
              letter-spacing: 0.1px;
              background-image: url('../../images/stop_img.png');
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          .opportunities-block-text {
            font-size: 12px;
            color: #666;
            line-height: 20px;
            padding: 20px 0px 0px 0px;
          }
        }
      }
      .bottom-text {
        font-size: 16px;
        font-style: italic;
        line-height: 27px;
        text-decoration: underline;
        padding: 10px 0px 0px 0px;
      }
    }
    &.head_section {
       > .container {
         padding-bottom: 0px;
       }
      .head {
        padding-top: 50px;
        padding-bottom: 30px;
        p {
          font-size: 36px;
          text-align: center;
          &:nth-child(1) {
            font-family: "robotolight", Arial, Helvetica, sans-serif;
          }
          &:nth-child(2) {
            font-family: "robotoblack", Arial, Helvetica, sans-serif;
            color: #db5c1e;
          }
        }
      }
      .player_payment {
        padding-left: 15px;
        padding-right: 15px;
        .l {
          float: left;
          width: 60%;
        }
        .r {
          float: left;
          width: 40%;
          .h {
            p {
              font-size: 36px;
              text-align: center;
              margin-bottom: 0px;
              &:nth-child(1) {
                font-family: "robotolight", Arial, Helvetica, sans-serif;
              }
              &:nth-child(2) {
                font-family: "robotoblack", Arial, Helvetica, sans-serif;
                color: #d75a1e;
                text-decoration: underline;
              }
            }
          }
          .subscribe_pay_stack {
            margin-top: 48px;
            .subscribe_btn_wr {
              text-align: center;
              .subscribe_btn {
                font-family: "robotoblack", Arial, Helvetica, sans-serif;
                font-size: 18px;
                display: inline-block;
                width: 288px;
                height: 60px;
                line-height: 60px;
                text-transform: uppercase;
                color: #fff;
                background-color: #d75a1e;
                border: solid 1px #e5956f;
                border-radius: 6px;
                text-decoration: none;
              }
            }
            .pay_icons {
              text-align: center;
              margin-top: 20px;
              ul {
                display: inline-block;
                list-style: none;
                padding: 0px;
                li {
                  float: left;
                  margin-right: 10px;
                  &:last-child {
                    margin-right: 0px;
                  }
                }
              }
            }
          }
        }
      }
      .supliment-text {
        padding: 25px 95px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
      }
    }
  }

  footer {
    > .container {
      width: 960px;
    }
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 10px;
    line-height: 14px;
    color: #aeaeae;
  }

}
